body {
  background-color: grey;
  margin: 0;
}

.text {
  text-align: center;
  font-family: Arial, sans-serif;
}

.image {
  width: 100%;
  height: 500px;
  background-image: url("images/Water Lily.jpeg");
  background-position: center;
  background-size: cover;
}
