body {
  background-color: grey;
  margin: 0;
}

.text {
  text-align: center;
  font-family: Arial, sans-serif;
}

.image {
  width: 100%;
  height: 500px;
  background-image: url("https://i.pinimg.com/1200x/b0/c7/d4/b0c7d49fe31eabfaab951da20e95a451.jpg");
  background-position: center;
  background-size: cover;
}
