body {
  background-color: grey;
  margin: 0;
}

.text {
  text-align: center;
  font-family: Arial, sans-serif;
}

.image {
  width: 100%;
  height: 500px;
  background-image: url("https://images6.fanpop.com/image/photos/33300000/Abstract-Space-space-33308889-1920-1200.jpg");
  background-position: center;
  background-size: cover;
}
